 <nav class="navbar navbar-expand-lg">
   
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="nav-link active" aria-current="page"  (click)="barsClicked()"> <i class="fa-solid fa-bars text-white"></i></button>
          </li>
         </ul>
        <form class="d-flex" role="search">
          <input class="form-control " type="search" placeholder="Search for..." aria-label="Search">
          <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass text-white"></i></button>
        </form>
<div class="btn-group " >
    
            <li class="nav-item dropdown ">
                
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                  <li><button (click)="logoutBtnClicked()" class="dropdown-item" >Log out</button></li>
                </ul>
              </li>
            <a class="nav-link dropdown-toggle text-white usericon"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user text-white"></i>
            </a>
</div>

      </div>
    </div>
  </nav>

