.fa-bars {
  font-size: 16px;
  margin-left: 7vw;
}
.fa-bars:hover {
  cursor: pointer;
}
.navbar {
  background-color: #343a40;
  height: 10vh;
}
.usericon {
  margin-right: 110px;
  opacity: 0.5;
}

.usericon:hover {
  opacity: 1;
}
.navbar-toggler {
 background-color: white;
}
/* media query */

@media(max-width:991px){
.navbar{
  height: 10vh;
}
}