<div class="parentDiv">
<div class="childDiv form-control">
<div class="heading">
    <h1>Password Recovery</h1>
</div>
<div>
    Enter your email address and we will send you a OTP to reset your password.
</div>

<form [formGroup]="formData" (ngSubmit)="sendOtpClicked()">
    <div class="formData">
        <mat-form-field class="example-full-width form-control">
            <mat-label>Email Address</mat-label>
            <input  formControlName="email"  type="email" matInput  >
          </mat-form-field>
    
    
    </div>
    
    <div class="buttonContainer">
        <a class="loginLink" [routerLink]="['']">Return to login</a>
        <button type="submit" mat-raised-button color="primary">Send OTP</button>
        
    </div>
    
</form>
<div *ngIf="invalidEMailMSg" class="text-danger">
    Invalid Email
</div>
<div class="signupLink ">
    <a class="loginLink" [routerLink]="['/register']">Need an account? Sign up!</a>
</div>
</div>
</div>