.parentDiv{
    width: 100vw;
    height: 100vh;
    background-color: rgb(65, 65, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-danger{
    text-align: center;
}
.heading{
text-align: center;
height: 15vh;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.03);
}
.childDiv{
    width: 35vw;
}
.formData{
    text-align: center;
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.loginLink{
    text-decoration: none;
}
.loginLink:hover{
    text-decoration: underline;
}
.signupLink{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.03);

}

/* media query */

@media(max-width:768px){
    .childDiv{
        width: 96vw;
        height: 70vh;
    }
}
@media(min-width:769px){
    .childDiv{
        width: 80vw;
        height: 60vh;
    }
}
@media(min-width:1024px){
    .childDiv{
        width: 35vw;
    }
}