.parentDiv {
  width: 100vw;
  height: 100vh;
  background-color: rgb(65, 65, 197);
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-danger {
  text-align: center;
}
.heading {
  text-align: center;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.03);
}
.childDiv {
  width: 35vw;
}
.formData {
  text-align: center;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.loginLink {
  text-decoration: none;
}
.loginLink:hover {
  text-decoration: underline;
}
.signupLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.03);
}
.example-full-width {
  width: 100%;
}
.emailText {
  text-align: center;
}

/* media query */

@media (max-width: 768px) {
  .childDiv {
    width: 96vw;
    height: 70vh;
  }
  .emailText {
    margin-top: 3vh;
  }
  .example-full-width {
    margin-top: 3vh;
  }
}
@media (min-width: 769px) {
  .childDiv {
    width: 80vw;
    height: 60vh;
  }
  .emailText {
    margin-top: 3vh;
  }
  .signupLink {
    margin-top: 3vh;
  }
  .example-full-width {
    margin-top: 3vh;
  }
}
@media (min-width: 1024px) {
  .childDiv {
    width: 35vw;
  }
  .emailText {
    margin-top: 3vh;
  }
}
@media (min-width: 1200px) {
  .childDiv {
    width: 32vw;
    height: 55vh;
  }
  .heading {
    height: 10vh;
  }
  .signupLink {
    height: 8vh;
  }
  .emailText {
    margin-top: 3vh;
  }
  .signupLink {
    margin-top: 3vh;
  }
  form {
    margin-top: 3vh;
  }
}
