<div class="parentDiv">

  <div class=" middleChild form-control">
    <div class="headings">
      <h1 class="loginText ">Login</h1>
    </div>

    <form class="formss" [formGroup]="inputData" (ngSubmit)="submitBtnCLicked()">
      <div>
        <mat-form-field class="field">
          <mat-label>Enter Email</mat-label>
          <input autocomplete="email" formControlName="email" type="email" matInput>
        </mat-form-field>

      </div>

      <div>
        <mat-form-field class="field" appearance="fill">
          <mat-label>Enter Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button type="button" mat-icon-button matSuffix (click)="toggleVisibility()">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

      </div>


      <div class="btnAndAnchor">
        <div><a class="decoration" [routerLink]="['passwordReset']">forgot password?</a></div>
        <button [disabled]="buttonDIsable" id="loginButton" type="submit" mat-raised-button color="primary">Login <i *ngIf="!loginBtnCLicked"
            class="fa-solid fa-user-lock"></i> <i *ngIf="loginBtnCLicked" class="fa-solid fa-spinner fa-spin"></i>
        </button>
      </div>
    </form>

    <!-- invalid username or password -->

    <div *ngIf="invalidUsernameorPassword" class="text-danger invalidMsg">
      Wrong password
    </div>

    <!-- invalid user -->

    <div *ngIf="userNotFoundError" class="text-danger invalidMsg">
      User not found
    </div>


    <!-- error message -->

    <div *ngIf="errorMessage" class="text-danger invalidMsg">
      Error has occured
    </div>

    <!-- server busy or network error -->
    <div *ngIf="serverBusyError" class="text-danger invalidMsg">
      Network busy or no internet please try again later!
    </div>

    <div class="signupLink">
      <a class="decoration" [routerLink]="['/register']">Need an account? Sign up!</a>
    </div>
  </div>

</div>